<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatisglobalparams.mappers.UserMapper">

    <insert id="save" parameterType="com.example.mybatisglobalparams.entity.User" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO user
        VALUES (#{user.id},
                #{user.username},
                #{user.countryCode})
    </insert>

    <select id="findById" parameterType="map" resultType="com.example.mybatisglobalparams.entity.User">
        SELECT id,
               username,
               country_code
        FROM user
        WHERE id = #{id}
          AND country_code = #{countryCode}
    </select>

    <select id="findByIdAndUserName" parameterType="map" resultType="com.example.mybatisglobalparams.entity.User">
        SELECT id,
               username,
               country_code
        FROM user
        WHERE id = #{id}
          AND username = #{username}
          AND country_code = #{countryCode}
    </select>

</mapper>