spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mybatis-global-params
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10