<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.BoardMapper">
    <insert id="create">
        insert into board values
        (#{id}, #{title}, #{content}, #{author}, #{createdAt}, #{updatedAt})
    </insert>
    <update id="updateBoard">
        update board
        set
            title = #{title},
            content = #{content},
            updated_at = #{updatedAt}
        where
            id = #{id};
    </update>
    <delete id="deleteById" parameterType="String">
        delete from board where id = #{id}
    </delete>
    <delete id="deleteAll">
        delete from board where id != -1;
    </delete>
    <select id="selectAll" resultType="Board">
        select * from board
    </select>
    <select id="selectBoard" parameterType="String" resultType="Board">
        select * from board where id = #{id}
    </select>
</mapper>